@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-4xl font-bold text-center text-balance;
  margin-bottom: 20px;
}

h2 {
  @apply text-2xl font-bold text-center text-balance;
  margin-bottom: 20px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0a0428;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

input {
  color: #000;
  border-color:aliceblue;
  margin-left: 10px;
  border-radius: 3px;
  margin: 10px;
  max-width: 500px;
}

button {
  background: linear-gradient(90deg, #ff9b65, #454bcb);
  border: 1.7px solid #ffffff;
  border-radius: 5px;
  margin-left: 12px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;

    &:hover {
        background: linear-gradient(90deg, #feae00, #0004ff);
    }
}
